.App {
  text-align: center;
}

.App-header {
  background-color: rgb(21, 28, 61);
  padding: 20px;
  color: white;
  margin-bottom: 30px;
  box-shadow: 0 3px 5px #393a3f71;
}

.App-title {
  font-size: 1.5em;
}

button {
  background-color: transparent;
  border: 0;
  padding: .5em .8em;
}

button.primary {
  color: rgb(35, 104, 207);
}

button.primary.raised {
  background-color: #2368cf;
  color: #fff;
}

button:hover {
  background-color: #aaaa;
}

button.primary:hover {
  color: #092f68;
  background-color: #82a0d6aa;
}

button.primary.raised:hover {
  color: #fff;
  background-color: #18407c;
}

button [data-icon] {
  margin-right: .4em;
  display: inline-block;
}

[id*="__lpform"] {
  display: none;
}
